#!/bin/sh

if [ -n "${CI:-}" ]; then
  echo "skip startup (because: CI)"
  exit 0
fi

{{- if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64") }}

ln -s ~/.config/lazygit/config.yml ~/Library/Application\ Support/lazygit/config.yml
ln -s ~/.config/cargo-atcoder.toml ~/Library/Application\ Support/cargo-atcoder.toml

{{ if eq .mise_install "true" }}

mise install

# miseが入んなきゃcargoも入らないので
# tree-sitter-cliを入れる。nodeバージョンが22だとエラー吐いた
cargo install tree-sitter-cli --version 0.25.10

{{ end -}}

mkdir -p ~/Desktop/ss
defaults write com.apple.screencapture location ~/Desktop/ss

echo "autometerにスクショ自動リネームのシェルスクリプトを追加する"

cat <<'EOF'
#!/bin/zsh

for f in "$@"; do
  dir="${f:h}"
  epoch="$(stat -f '%B' "$f")"
  ts="$(date -r "$epoch" '+%Y%m%d%H%M%S')"

  dst="$dir/ss_$ts.png"

  echo "mv: $f -> $dst"
  mv -- "$f" "$dst"
done
EOF

echo "TODO:"
echo "-[ ] neovimのpluginをinstallする"
echo "-[ ] install raycast"
exit 0

{{- else if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "linuxmint") }}

{{ if eq .mise_install "true" }}

mise install

{{ end -}}

echo "TODO:"
echo "-[ ] fusuma, (あるんだったら)xinputの設定を行う"
echo "-[ ] see: https://qiita.com/haw_ohnuma/items/d5f49a726789a4601ef5"
echo "-[ ] neovimのpluginをinstallする"
exit 0

{{ else }}
echo "INFO: No environment validation required for this OS."
exit 0
{{ end }}

