alias view "nvim -R"
alias vim "nvim"
alias vi "nvim"
alias rvim "/usr/bin/vim"
alias gs "git status"
alias ggr "git graph"

alias lz "eza --icons"
alias lt "eza --icons --tree --git-ignore"
alias lg "eza --icons --git-ignore"

alias xx "cargo acj"
alias pa "pahcer"

alias tt "nvim +terminal"

alias nq "nb q --utility rg"
alias nql "nb q --utility rg --list"
alias nl "nb ls -t md"
alias na "nb a"
alias ne "nb e"

set -Ux EDITOR nvim
set -Ux VISUAL nvim

{{- if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64") }}
eval "$(/opt/homebrew/bin/brew shellenv)"
set -x PATH "/Applications/WezTerm.app/Contents/MacOS" $PATH
{{- end }}

{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "linuxmint") }}
eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)
{{- end }}

set -x PATH "$HOME/.local/bin" $PATH
set -gx PATH $HOME/.local/share/mise/shims $PATH

for mode in default insert visua
  fish_default_key_bindings -M $mode
end

fish_vi_key_bindings --no-erase
