#!/bin/bash

{{ if eq .chezmoi.os "darwin" }}

{{ if eq .chezmoi.arch "arm64" }}

## ╭─────────────────────────────────────────────────────────╮
## │ install cmd                                             │
## ╰─────────────────────────────────────────────────────────╯

brew install \
  curl \
  fzf \
  git \
  neofetch \
  ripgrep \
  wget \
  httpie \
  tar \
  vim \
  lazygit \

## ╭─────────────────────────────────────────────────────────╮
## │ install asdf                                            │
## ╰─────────────────────────────────────────────────────────╯

git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.13.1
source ~/.asdf/asdf.fish
mkdir -p ~/.config/fish/completions && ln -s ~/.asdf/completions/asdf.fish ~/.config/fish/completions

## ╭─────────────────────────────────────────────────────────╮
## │ nvim build                                              │
## │ version: 0.11.3                                         │
## ╰─────────────────────────────────────────────────────────╯

curl -LO https://github.com/neovim/neovim/releases/download/v0.11.3/nvim-macos-arm64.tar.gz
tar xzvf nvim-macos-arm64.tar.gz
mkdir -p ~/.local/bin/ && mv nvim-macos-arm64 ~/.local/bin/
ln -s ~/.local/bin/nvim-macos-arm64/bin/nvim ~/.local/bin/nvim
rm nvim-macos-arm64.tar.gz
fish -c "fish_add_path ~/.local/bin/"

{{ end }}

{{ end }}

